<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCHabinate:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCHabinate.war">
      <element id="artifact" artifact-name="SpringMVCHabinate:war exploded" />
    </root>
  </artifact>
</component>